@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Manrope:wght@500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.content {
  flex-grow: 1;
}

.mainContent {
  padding: 37px;
  background-color: #161618;
  height: calc(100% - 88px);
  overflow-y: auto;
}